# Virus Viewer

## Imports

In [27]:
import pandas as pd
import io
import requests
import pickle
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Download Data
#### NOTE: Set "data_source" to one of: "download_us", "pre_us", "state_level", or "region_level"

 1. state_level or region_level
    * download from: https://gis.cdc.gov/grasp/fluview/mortality.html and save it as: "State_Custom_Data.csv" or "Region_Custom_Data.csv"
 3. download_us
    * will download new data from: https://data.cdc.gov/api/views/hc4f-j6nb/rows.csv?accessType=DOWNLOAD&amp;bom=true&amp;format=true
 4. pre_us
    * use on downloaded US level data

In [28]:
data_source = "state_level"

if data_source == "state_level":
    c = pd.read_csv('./State_Custom_Data.csv')
if data_source == "region_level":
    c = pd.read_csv('./State_Custom_Data.csv')
if data_source == "download_us":
    url = "https://data.cdc.gov/api/views/hc4f-j6nb/rows.csv?accessType=DOWNLOAD&amp;bom=true&amp;format=true"
    s = requests.get(url).content
    c = pd.read_csv(io.StringIO(s.decode('utf-8')))
    pickle.dump(c, open('fluView.pcl', 'wb'))
if data_source == "pre_us":
    c = pickle.load(open('fluView.pcl', 'rb'))

## Get rid of the weird way they put NaN's

In [29]:
c = c.replace('Insufficient Data', np.nan)

## Make lists of states and seasons

In [30]:
sub_areas = []
seasons = []
for i in c['SUB AREA']:
    if i not in sub_areas:
        sub_areas.append(i)
for j in c['SEASON']:
    if j not in seasons:
        seasons.append(j)

## Look at what we've got

In [32]:
c.keys()

Index(['AREA', 'SUB AREA', 'AGE GROUP', 'SEASON', 'WEEK', 'PERCENT P&I',
       'NUM INFLUENZA DEATHS', 'NUM PNEUMONIA DEATHS', 'TOTAL DEATHS',
       'PERCENT COMPLETE'],
      dtype='object')

In [33]:
seasons

['2019-20', '2018-19', '2017-18']

## Some massaging

In [50]:
float_list = ['WEEK', 'PERCENT P&I', 'NUM INFLUENZA DEATHS',
              'NUM PNEUMONIA DEATHS', 'TOTAL DEATHS', 'PERCENT COMPLETE']

for i in float_list:
    c[i] = pd.to_numeric(c[i], errors='coerce')

c = c[c['WEEK'] <= 15]

In [55]:
twnty = c[c['SEASON'].str.endswith("20")]
nineteen = c[c['SEASON'].str.endswith("19")]
eighteen = c[c['SEASON'].str.endswith("18")]

# Do this with all weeks:
twnty_mean_series = np.mean(twnty['TOTAL DEATHS'][c['WEEK'] == 1])
# Use numpy.append(M, a)

425.4642857142857

In [26]:
for j in sub_areas[0:1]:
    for k in seasons:
        whr = c[(c['SUB AREA'] == j) & (c['SEASON'].str.endswith(k[:-5]))]

       AREA SUB AREA AGE GROUP   SEASON  WEEK  PERCENT P&I  \
13    State  Alabama       All  2019-20     1          6.6
14    State  Alabama       All  2019-20     2          8.1
15    State  Alabama       All  2019-20     3          6.6
16    State  Alabama       All  2019-20     4          6.9
17    State  Alabama       All  2019-20     5          6.6
18    State  Alabama       All  2019-20     6          6.8
19    State  Alabama       All  2019-20     7          7.8
20    State  Alabama       All  2019-20     8          7.2
21    State  Alabama       All  2019-20     9          7.1
22    State  Alabama       All  2019-20    10          6.7
23    State  Alabama       All  2019-20    11          5.9
24    State  Alabama       All  2019-20    12          7.7
25    State  Alabama       All  2019-20    13          7.9
26    State  Alabama       All  2019-20    14          6.5
27    State  Alabama       All  2019-20    15          7.6
1521  State  Alabama       All  2018-19     1          6.1
1522  State  Alabama       All  2018-19     2          7.0
1523  State  Alabama       All  2018-19     3          8.1
1524  State  Alabama       All  2018-19     4          6.0
1525  State  Alabama       All  2018-19     5          6.5
1526  State  Alabama       All  2018-19     6          7.0
1527  State  Alabama       All  2018-19     7          6.4
1528  State  Alabama       All  2018-19     8          4.7
1529  State  Alabama       All  2018-19     9          7.2
1530  State  Alabama       All  2018-19    10          5.8
1531  State  Alabama       All  2018-19    11          5.6
1532  State  Alabama       All  2018-19    12          5.5
1533  State  Alabama       All  2018-19    13          6.0
1534  State  Alabama       All  2018-19    14          6.0
1535  State  Alabama       All  2018-19    15          5.8
4225  State  Alabama       All  2017-18     1          9.1
4226  State  Alabama       All  2017-18     2          9.3
4227  State  Alabama       All  2017-18     3         10.7
4228  State  Alabama       All  2017-18     4         12.3
4229  State  Alabama       All  2017-18     5         11.1
4230  State  Alabama       All  2017-18     6          8.4
4231  State  Alabama       All  2017-18     7         10.1
4232  State  Alabama       All  2017-18     8          7.3
4233  State  Alabama       All  2017-18     9          7.1
4234  State  Alabama       All  2017-18    10          7.2
4235  State  Alabama       All  2017-18    11          6.3
4236  State  Alabama       All  2017-18    12          4.6
4237  State  Alabama       All  2017-18    13          6.5
4238  State  Alabama       All  2017-18    14          5.4
4239  State  Alabama       All  2017-18    15          5.8

      NUM INFLUENZA DEATHS  NUM PNEUMONIA DEATHS  TOTAL DEATHS  \
13                     5.0                  67.0           NaN
14                     9.0                  83.0           NaN
15                     7.0                  63.0           NaN
16                     7.0                  67.0           NaN
17                    15.0                  54.0           NaN
18                    11.0                  64.0           NaN
19                     7.0                  78.0           NaN
20                     4.0                  74.0           NaN
21                    14.0                  68.0           NaN
22                    12.0                  58.0           NaN
23                     6.0                  54.0           NaN
24                     6.0                  71.0         995.0
25                     8.0                  67.0         952.0
26                     4.0                  59.0         970.0
27                     3.0                  56.0         779.0
1521                   7.0                  60.0           NaN
1522                   7.0                  71.0           NaN
1523                   2.0                  91.0           NaN
1524                   2.0                  63.0           NaN
1525                   1.0                  71.0           NaN
1526                   9.0                  68.0           NaN
1527                  11.0                  60.0           NaN
1528                   6.0                  45.0           NaN
1529                   8.0                  69.0           NaN
1530                   4.0                  59.0           NaN
1531                   5.0                  57.0           NaN
1532                   4.0                  53.0           NaN
1533                   3.0                  62.0           NaN
1534                   1.0                  62.0           NaN
1535                   1.0                  60.0           NaN
4225                  16.0                  98.0           NaN
4226                  22.0                 102.0           NaN
4227                  41.0                  98.0           NaN
4228                  39.0                 124.0           NaN
4229                  31.0                  99.0           NaN
4230                  24.0                  77.0           NaN
4231                  16.0                  98.0           NaN
4232                   6.0                  76.0           NaN
4233                   7.0                  64.0           NaN
4234                   3.0                  75.0           NaN
4235                   3.0                  66.0           NaN
4236                   1.0                  46.0           NaN
4237                   1.0                  64.0           NaN
4238                   1.0                  55.0           NaN
4239                   1.0                  60.0           NaN

      PERCENT COMPLETE
13                 NaN
14                 NaN
15                 NaN
16                 NaN
17                 NaN
18                 NaN
19                 NaN
20                 NaN
21                 NaN
22                 NaN
23                 NaN
24                 NaN
25                 NaN
26                 NaN
27                 NaN
1521               NaN
1522               NaN
1523               NaN
1524               NaN
1525               NaN
1526               NaN
1527               NaN
1528               NaN
1529               NaN
1530               NaN
1531               NaN
1532               NaN
1533               NaN
1534               NaN
1535               NaN
4225               NaN
4226               NaN
4227               NaN
4228               NaN
4229               NaN
4230               NaN
4231               NaN
4232               NaN
4233               NaN
4234               NaN
4235               NaN
4236               NaN
4237               NaN
4238               NaN
4239               NaN

In [18]:
x[1900:1910]

,AREA,SUB AREA,AGE GROUP,SEASON,WEEK,PERCENT P&I,NUM INFLUENZA DEATHS,NUM PNEUMONIA DEATHS,TOTAL DEATHS,PERCENT COMPLETE
5847,State,New Mexico,All,2017-18,11,9.4,3,32,371,> 100%
5848,State,New Mexico,All,2017-18,12,5.0,2,17,381,> 100%
5849,State,New Mexico,All,2017-18,13,7.8,0,28,361,> 100%
5850,State,New Mexico,All,2017-18,14,5.0,0,19,380,> 100%
5889,State,New York,All,2017-18,1,9.9,22,209,"2,329",> 100%
5890,State,New York,All,2017-18,2,9.8,23,222,"2,493",> 100%
5891,State,New York,All,2017-18,3,12.5,42,243,"2,279",> 100%
5892,State,New York,All,2017-18,4,12.9,63,223,"2,211",> 100%
5893,State,New York,All,2017-18,5,11.0,36,206,"2,206",> 100%
5894,State,New York,All,2017-18,6,11.1,52,196,"2,233",> 100%